.screen {
  display: grid;
  background-color: #00498c;
}

h1 {
  color: white;
  justify-self: center;
  margin: 0em;
}

#new-game-btn {
  background-color: yellow;
  border-radius: 8px 8px 8px 8px;
  justify-self: end;
  width: 7em;
}

header {
  display: grid;
  grid-template-columns: 9fr 1fr;
}

#scoreboard-container {
  background-color: #00498c;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 0.15em solid white;
  border-bottom: 0.15em solid white;
}

#right-scoreboard {
  display: grid;
  grid-template-rows: 1fr 2fr;
  border-left: 0.15em solid white;
  /* border: 0.3em solid white; */
  height: 10em;
}

#footer {
  background-attachment: #00498c;
  height: 3em;
}

input {
  background-color: #00498c;
  color: white;
  text-align: center;
  font-size: x-large;
  border: 0em;
}

.player-score {
  color: white;
  background-color: #00498c;
  font-size: 7em;
  border: 0em;
  margin: 0em;
  text-align: center;
}

.counter-btn {
  /* font-size: 7em; */
  /* color: white; */
  background-color: #00488c00;
  border: 0em;
  margin: 0em;
}

button:focus {
  outline: none;
}

.item1 {
  grid-area: playerName;
}
.item2 {
  grid-area: leftButton;
  grid-column: 1 / 4;
  z-index: 1;
}
.item3 {
  grid-area: score;
  grid-column: 3 / 5;
  z-index: 0;
}
.item4 {
  grid-area: rightButton;
  grid-column: 4 / 7;
  z-index: 1;
}

.scoreboard {
  display: grid;
  grid-template-areas:
    "playerName playerName playerName playerName playerName playerName"
    "leftButton leftButton score score rightButton rightButton";
  grid-template-rows: 1fr 2fr;
  /* grid-template-columns: 1fr 1fr 1fr; */
  border-right: 0.15em solid white;
  height: 10em;
  background-color: #00498c;
}
